html,
body {
  color: $defaultClr;
  font-size: 1rem;
  line-height: 1.69rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  min-width: 300px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  margin-top: auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 0.6rem;
}

.info-email {
  font-weight: 600;
  color: $blackClr;
  display: inline-block;
  padding-left: 1.5rem;
  margin: 1.2rem 0 1.2rem 0;
  position: relative;
  &::before {
    content: "";
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    left: 0;
    margin-top: 0.5rem;
    position: absolute;
    width: 1rem;
    height: 0.9rem;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background-color: $blackClr;
    border: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
  }

  li {
    margin: 0 1rem;
  }
  li.slick-active {
    button {
      outline: none;
      background-color: rgb(240, 240, 48);
    }
  }
}
