$blackClr: #363636;
$defaultClr: #5a5a5a;
$btnClr: #8f8d8d;
$lineClr: #6D7278;
$lightGray: #a1a1a1;
$breadcrumbsClr: rgba(#DFDFDF, .5);

%title-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}x(#{$numbers});
}
